.k1{
    width: 1000px;
    height: 1000px;
  }

  #motherboard, #cpu, #psu, #gpu, #cooling, #ram, #hard-drive, .m1, .c1, .g1, .hd1, .r1, .po1, .co1 {
    min-width: 100px;
    min-height: 100px;
    position: absolute;
  }
  
  #mb-desc {
    display: none;
  }
  
  .m1:hover + #mb-desc {
    display: block;
  }
  .m1{
  width: 650px;
    height: 580px;
  }
  .c1 {
    width: 140px;
    height: 130px;
  }
  .g1{
    width:550px ;
    height:450px;
  }
.hd1{
    width:250px ;
    height:70px
    ;
}
.r1{
    transform: rotate(90deg);
    width:360px;
    height: 140px;
}
.po1{
  width: 400px;
  height: 200px;
}
.co1{
  width:200px ;
  height:200px ;
}